{% extends '_layouts/default.njk' %}

{% block content %}

    <div class="container">
        <h1 class="title">Front-end setup</h1>
        <div class="flex-center">
            <p>This is a starter application</p>
        </div>

        <div class="flex-center">
            <counter-element></counter-element>
        </div>

        <div class="flex-center" style="margin-top: 200vh;">
            <counter-element></counter-element>
        </div>
    </div>

{% endblock %}
