{% extends '../_layouts/default.njk' %}

{% block content %}

    <div class="container">
        <h1 class="title">Detail page {{ productId }}</h1>
        <div class="flex-center">
            <p>This is an overview page</p>
        </div>
    </div>

{% endblock %}
