{% extends '../_layouts/default.njk' %}

{% block content %}

    <div class="container">
        <h1 class="title">Products</h1>
        <div class="flex-center">
            <p>This is an overview page</p>
        </div>

        <ul>
            {% for product in products %}
            <li><a href="/products/{{ product.slug }}">{{ product.title }}</a></li>
            {% endfor %}
        </li>
    </div>

{% endblock %}
