<!DOCTYPE html>
<html lang="{{ project.language }}" dir="{{ project.direction }}">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="description" content="{{ project.description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="disabled-adaptations" content="watch">


    <meta property="og:url"           content="{{ project.url }}" />
    <meta property="og:type"          content="webproject" />
    <meta property="og:title"         content="{{ project.title }}" />
    <meta property="og:description"   content="{{ project.description }}" />
    <meta property="og:image"         content="{{ project.image }}" />


    <title>{{ project.title }}</title>

    <!-- Style sheets -->
    {% if not project.debug %}
        <link rel="stylesheet" href="{{ project.assetPrefix }}/assets/css/main.css"/>
    {% endif %}

    <base href="/" />

    {% if not project.debug %}
        {% include "./preloads.njk" %}
    {% endif %}

    <!-- Favicons -->
    {% if not project.debug %}
        {% include "./favicons.njk" %}
    {% endif %}

</head>

<body>

    <main id="content" role="main">

        {% block content %}

            <!-- content will be injected in this block -->

        {% endblock %}

    </main>

    {% if project.debug %}
        <script async src="/assets/js/main.js"></script>
    {% else %}
        {% include "./scripts.njk" %}
    {% endif %}

</body>

<!-- name: {{ project.name }}, version: {{ project.version }} -->
</html>
