<script src='/assets/js/polyfills/core-js.js' nomodule></script>
<script src='/assets/js/polyfills/regenerator-runtime.js' nomodule></script>
<script>
    (function () {
        
  function loadScript(src, module) {
    return new Promise(function (resolve, reject) {
      document.head.appendChild(Object.assign(
        document.createElement('script'),
        { src: src, onload: resolve, onerror: reject },
        module ? { type: 'module' } : undefined
      ));
    });
  }
        var polyfills = []
if(!('fetch' in window)) {
            polyfills.push(loadScript('/assets/js/polyfills/fetch.js', false ) )
        }
if(!('IntersectionObserver' in window && 'IntersectionObserverEntry' in window && 'intersectionRatio' in window.IntersectionObserverEntry.prototype)) {
            polyfills.push(loadScript('/assets/js/polyfills/intersection-observer.js', false ) )
        }
if(!('attachShadow' in Element.prototype) || !('getRootNode' in Element.prototype) || (window.ShadyDOM && window.ShadyDOM.force)) {
            polyfills.push(loadScript('/assets/js/polyfills/webcomponents.js', false ) )
        }
if(!('noModule' in HTMLScriptElement.prototype) && 'getRootNode' in Element.prototype) {
            polyfills.push(loadScript('/assets/js/polyfills/custom-elements-es5-adapter.js', false ) )
        }

        
        function loadEntries() {
            'noModule' in HTMLScriptElement.prototype ? loadScript('/assets/js/main.js') : loadScript('/assets/js/legacy_main.js');
        }

        polyfills.length ? Promise.all(polyfills).then(loadEntries) : loadEntries();
    
    })();</script>